.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

button.enter_{
  background-color: #0087F7;
  color:white
}

h1#login{
  margin: 0px 0px 16px;
}

form.text-center{
  padding: 40px 0px;
}

.center{
  text-align: center;
}

#search{
  padding-right: 300px;
  padding-left: 100px;
}

#image_array{
  width: 200px;
  height: 100px;
}

.fa.fa-star.checked{
  color: orange;
}

.fa.fa-star{
  color: grey;
}

.form_{
  margin-left: 74px;
}

#enviar_form{
  background-color: #0087F7;
  color: white;
}

.image_rel{
  width: 180px;
  height: 120px;
}

#w-100{
  height: 180px;
  width: 390px;
}

#card1{
  width: 280px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  margin: 2px;
  flex-direction: column;
} 

#card2{
  width: 280px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  margin: 2px;
  flex-direction: column;
} 

#imagen{
  height: 100px;
  width: 100px;
}

#products-list-container_4{
  display: flex;
  flex-direction: row;
  height: 210px;
}

#menu_gral{
  height: 40px;
}

.nav-item{
  height: 70px;
  margin-top: 2px;
}

#nav1link{
  padding-top: 0px;
}

#dropdownMenuButton1{
  color: rgba(255,255,255,.55);
  background-color: #212529;
  border-color: #212529;
  padding: 0%;
}

#cart_title{
  text-align: center;
}

.cart_title_2{
  text-align: left;
}

.td1{
  width: 140px;
  align-items: center;
}

.td2{
  width: 100px;
  align-items: center;
}

.td3{
  width: 120px;
  align-items: center;
}

.td4{
  width: 100px;
  align-items: center;
}

#img_element{
  width: 60px
}

#td_{
  width: 120px;
}

.th1{
  border-bottom: 1px solid black;
}

.td1{
  border-bottom: 1px solid lightgrey;
  height: 60px;
}

#first_element_quantity{
  width:50px
}

.length_count{
    width: 50px
}

#buy{
  margin-left: 80%;
  margin-top: 3%;
  background-color: green;
  color: white;
  padding: 0.5%;
}

.length{
  width:50px;
}

.tr_new_element_quantity{
  border: 1px solid lightgray;
}

#total_cost{
  width: 60%
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn{
  color:blue
}

#Cerrar{
  display: flex;
  justify-content: right;
}

#button{
 width: 100px;
}

.input_form{
  margin-right: 12px;
}

/* #container_profile{
  margin-left: 300px;
  margin-right: 0px;
} */

#profile_title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main_form{
  margin-left: 220px;
}















